USE [datawarehouse2026]
GO
/****** Object:  StoredProcedure [bronze].[raw_load]    Script Date: 25-04-2026 4.37.03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [bronze].[raw_load] as
begin
begin try 
declare @start_time datetime , @end_time datetime
print '==============================================='
print 'truncating tabel cust_info and loading'
print '==============================================='
set @start_time = getdate();
truncate table bronze.crm_cust_info 
bulk insert bronze.crm_cust_info 
from 'C:\Users\dinesh gowd\Documents\SQL Server Management Studio 22\datasets\source_crm\cust_info.csv'
with (
firstrow = 2,
fieldterminator = ',',
tablock 
);
set @end_time = getdate(); 
print ' time taken'  + cast(datediff(second,@start_time,@end_time) as  varchar) + 'seconds'

print '==============================================='
print 'truncating tabel prd_info and loading'
print '==============================================='

set @start_time = getdate()

truncate table bronze.crm_prd_info
bulk insert bronze.crm_prd_info 
from 'C:\Users\dinesh gowd\Documents\SQL Server Management Studio 22\datasets\source_crm\prd_info.csv'
with (
firstrow = 2,
fieldterminator = ',',
tablock 
) 
set @end_time = getdate()
print 'time taken' + cast(datediff(second,@start_time,@end_time) as  varchar) + 'seconds'

print '==============================================='
print 'truncating tabel sales_details and loading'
print '==============================================='
set @start_time = getdate()
truncate table bronze.crm_sales_details
bulk insert bronze.crm_sales_details 
from 'C:\Users\dinesh gowd\Documents\SQL Server Management Studio 22\datasets\source_crm\sales_details.csv'
with (
firstrow = 2,
fieldterminator = ',',
tablock 
);
set @end_time = getdate()
print 'time taken' + cast(datediff(second,@start_time,@end_time) as  varchar) + 'seconds'

print '==============================================='
print 'truncating tabel cust_az12 and loading'
print '==============================================='
set @start_time = getdate()
truncate table bronze.erp_cust_az12
bulk insert bronze.erp_cust_az12 
from 'C:\Users\dinesh gowd\Documents\SQL Server Management Studio 22\datasets\source_erp\CUST_AZ12.csv'
with (
firstrow = 2,
fieldterminator = ',',
tablock 
);
set @end_time = getdate()
print 'time taken' + cast(datediff(second,@start_time,@end_time) as  varchar) + 'seconds'

print '==============================================='
print 'truncating tabel loc_a101 and loading'
print '==============================================='
set @start_time = GETDATE()
truncate table bronze.erp_loc_a101
bulk insert bronze.erp_loc_a101 
from 'C:\Users\dinesh gowd\Documents\SQL Server Management Studio 22\datasets\source_erp\LOC_A101.csv'
with (
firstrow = 2,
fieldterminator = ',',
tablock 
);
set @end_time = getdate()
print 'time taken' + cast(datediff(second,@start_time,@end_time) as  varchar) + 'seconds'

print '==============================================='
print 'truncating tabel px_cat_g1v2 and loading'
print '==============================================='
set @start_time = GETDATE()
truncate table bronze.erp_px_cat_g1v2
bulk insert bronze.erp_px_cat_g1v2 
from 'C:\Users\dinesh gowd\Documents\SQL Server Management Studio 22\datasets\source_erp\PX_CAT_G1V2.csv'
with (
firstrow = 2,
fieldterminator = ',',
tablock 
);
set @end_time = getdate()
print 'time taken' + cast(datediff(second,@start_time,@end_time) as  varchar) + 'seconds'
end try

begin catch 
 print ' error occurred :' + error_message() 
end catch
end